<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApiSettings" type="IntranetDASHBOARD.API.ApiSettings" />
    <section name="SharePointSettings" type="SharePointConnector.SharePointSettings" />
  </configSections>
  <system.web />
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="IntranetManager" type="IntranetDASHBOARD.API.IntranetModule" />
    </modules>
  </system.webServer>
  <!-- This section allows you to register the CMS Components exposed by your application-->
  <ApiSettings>
    <ApplicationDetails name="SharePoint" vendor="ADWEB" version="1.0.0.1"></ApplicationDetails>
    <CmsComponents>
      <add title="SharePoint" uniqueKey="SharePointConnector" description="SharePoint Connector" virtualPath="/Default.aspx" iconPath="/images/wiki/component/SharePoint.gif">
        <property title="Site URL" description="The URL of the SharePoint site you wish to display content from." defaultValue="" uniqueKey="SiteUrl" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Username" description="The username of the account that has access to the SharePoint site specified in the Site URL property." defaultValue="" uniqueKey="Username" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Password" description="The password that corresponds to the username specified in the Username property." defaultValue="" uniqueKey="Password" controlType="Textbox" defaultLockedValue="false" AdditionalSettings="Password"></property>
        <property title="Domain" description="The domain the username account belongs to." defaultValue="" uniqueKey="Domain" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
        <property title="Authentication Type" description="Authentication is the process of identifying whether a user is eligible to access a resource.  The SharePoint server can specify a single authentication type for its site.  In the SharePoint Connector the types that are compatible are NTLM and Basic.  Please check what is set on the server for the SharePoint site you have specified in the Site URL to determine what this value should be." defaultValue="" uniqueKey="AuthenticationType" controlType="Textbox" defaultLockedValue="false" AdditionalSettings=""></property>
      </add>
    </CmsComponents>
  </ApiSettings>
  <!-- This section allows you to register the CMS Component Properties exposed by your Component-->
  <SharePointSettings>
    <SharePointLists>
      <add name="Document Library" templateId="101"></add>
      <add name="Tasks" templateId="107"></add>
    </SharePointLists>
  </SharePointSettings>
</configuration>